*.csv
!/Regions/*/Data_Inputs/Blacklisted_Entities/blacklisted_entities.csv
Config_Files/__pycache__/
.DS_Store/
__pycache__/
__pycache__
*.DS_Store
.idea/
*.zip
.idea/workspace.xml
*.env*
/Regions/UK_entities/SQL/
/Regions/UK_entities/Archive/
*.pyc
