[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fuzzywuzzy = "*"
numpy = "*"
tqdm = "*"
pathlib = "*"
python-levenshtein = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pytest = "*"
chwrapper = "*"
boto3 = "*"
csvdedupe = {git = "https://www.github.com/dmells/csvdedupe"}
# tqdm doesn't work with latest version of pandas
pandas = "==0.24.2"
pyyaml = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
