affinegap==1.10
atomicwrites==1.3.0
attrs==19.1.0
boto3==1.9.194
botocore==1.12.194
BTrees==4.5.1
categorical-distance==1.9
cffi==1.12.3
chwrapper==0.3.0
csvdedupe==0.1.18
datetime-distance==0.1.3
dedupe==1.9.8
dedupe-hcluster==0.3.6
dedupe-variable-datetime==0.1.5
docutils==0.14
DoubleMetaphone==0.1
fastcluster==1.1.25
future==0.17.1
fuzzywuzzy==0.17.0
haversine==2.1.2
highered==0.2.1
importlib-metadata==0.18
jmespath==0.9.4
Levenshtein-search==1.4.4
more-itertools==7.2.0
numpy==1.17.0rc2
packaging==19.0
pandas==0.24.2
pathlib==1.0.1
persistent==4.5.0
pluggy==0.12.0
psycopg2-binary==2.8.3
py==1.8.0
pycparser==2.19
pyhacrf-datamade==0.2.3
PyLBFGS==0.2.0.12
pyparsing==2.4.0
pytest==5.0.1
python-dateutil==2.8.0
python-dotenv==0.10.3
python-Levenshtein==0.12.0
pytz==2019.1
PyYAML==5.1.1
requests==2.8.1
rlr==2.4.5
s3transfer==0.2.1
simplecosine==1.2
simplejson==3.16.0
six==1.12.0
tqdm==4.32.2
urllib3==1.25.3
wcwidth==0.1.7
zipp==0.5.2
zope.index==4.4.0
zope.interface==4.6.0
